<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>VUEjs Filtros | .: ogaip-dev :.</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body>
	
	<div id="main" class="container">
		<div class="row">
			<div class="col-xs-4 col-sm-4 col-md-4 col-lg-4">
				<h1>VUEjs - Filtros</h1>
				<button v-on:click="getUsers" v-if="!list.length" type="button" class="btn btn-primary">Listar</button>

				<ul class="list-group" v-else>
					<li class="list-group-item">
						<input class="form-control" type="text" placeholder="Buscar" v-model="name">
					</li>
					<li class="list-group-item" v-for="item in serchUser">
						{{ item.name}}
					</li>
				</ul>
			</div>
			<div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
				<h1>JSON</h1>
				<pre>
					{{$data}}
				</pre>
			</div>
		</div>
	</div>






	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.16.2/axios.min.js"></script>
	<script type="text/javascript">
		new Vue({
			el: "#main",
			data: {
				list: [],
				name: '',
			},
			methods: {
				getUsers: function () {
					var urlUsers = 'https://jsonplaceholder.typicode.com/users';
					axios.get(urlUsers).then( response => {
						this.list = response.data;
					});
				}
			},
			computed: {
				serchUser: function(){
					return this.list.filter((item) => item.name.includes(this.name));
				}
			}
		});
	</script>
</body>
</html>