<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="UTF-8">
		<title>VUEjs V-IF V-ELSE TEMPLATE | .: ogaip-dev :.</title>
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
	</head>
	<body>
		
		<div id="main" class="container">
			{{ $data }}
			<h4>Has Trabajado con VueJs?</h4>
			<div class="radio">
				<label class="radio-inline">
					<input type="radio" v-model="vue.exp" :value="true">
					Si
				</label>
				<label class="radio-inline">
					<input type="radio" v-model="vue.exp" :value="false">
					No
				</label>
			</div>
			<!-- Si la respuesta es si -->
			<template v-if="vue.exp">
			<div class="form-group">
				<label for="vue_years">
					Cuantos años de experiencia tienes con VueJs?
				</label>
				<input v-model="vue.years"type="number" class="form-control">
			</div>
			<div v-show="vue.years < 2" class="form-group">
				<label for="vue_years"> Que te motivó a aprender VueJs?</label>
				<textarea v-model="vue.description" class="form-control" rows="4"></textarea>
			</div>
			<div  v-show="vue.years >= 2"class="form-group">
				<label for="vue_years"> Cuentanos de tu experiencia con VueJs</label>
				<textarea v-model="vue.description" class="form-control" rows="4"></textarea>
			</div>
			<div v-show="descriptionError != ''" class="alert alert-danger">
				<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
				<strong>Oye!!</strong> {{ descriptionError}}
			</div>
			</template>
		</div>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
		<script type="text/javascript">
			new Vue({
				el: "#main",
				data: {
					vue: {
						exp: false,
						years: 0,
						description: ''
					}
				},
				computed: {
					descriptionError: function(){
						var val = this.vue.description.trim();

						if (!val) {
							return "El Campo es obligatorio";
						}

						if (val.length < 5) {
							return "Por favor escribe una descripcion mayor a 5 caracteres";
						}
						if (val.length > 20) {
							return "La Descripcion no debe superar los 20 caracteres";
						}
						return '';
					}
				}
			});
		</script>
	</body>
</html>