<!DOCTYPE html>
<html lang="es">
<head>
	<meta charset="UTF-8">
	<title>VUEjs V-IF V-ELSE TEMPLATE | .: ogaip-dev :.</title>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" >
</head>
<body>
	
	<div id="main" class="container">
		<div class="row">
			<div class="col-xs-5 col-sm-5 col-md-5 col-lg-5">
			<template v-if="!mensaje">
				<h3>Escribe tu sugerencia</h3>
				<p>El equipo de soporte responde en maximo 24 horas</p>
				<p><em>Podrias utilizar Twitter para comunicarte</em></p>
			</template>
			<h3 v-else>Preciona <kbd>ENTER</kbd> para enviar</h3>
				<textarea class="form-control" v-model="mensaje"></textarea>
			</div>
			<div class="col-xs-7 col-sm-7 col-md-7 col-lg-7">
				<h3>JSON</h3>
				<pre>
					{{$data}}
				</pre>
			</div>
		</div>
	</div>






	<script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.4.0/vue.js"></script>
	<script type="text/javascript">
		new Vue({
			el: "#main",
			data: {
				mensaje: ''
			}
		});
	</script>
</body>
</html>